//- Assets ---------------------------------------------------------------------

a-mixin#soundcube
  audio#soundtrack(src="objects/soundtrack.mp3")

a-assets

  //- GLOBAL

  a-asset-item#mountain(src="objects/mountain.dae")
  
  a-asset-item#cloud_1(src="objects/cloud_1.dae")
  a-asset-item#cloud_2(src="objects/cloud_2.dae")
  a-asset-item#cloud_3(src="objects/cloud_3.dae")

  //- WORLD 1
  
  a-asset-item#world_1_fire(src="objects/world_1_fire.dae")
  a-asset-item#world_1_fire_splinter_1(src="objects/world_1_fire_splinter_1.dae")
  a-asset-item#world_1_fire_splinter_2(src="objects/world_1_fire_splinter_2.dae")
  a-asset-item#world_1_fire_splinter_3(src="objects/world_1_fire_splinter_3.dae")
  a-asset-item#world_1_fire_splinter_4(src="objects/world_1_fire_splinter_4.dae")
  a-asset-item#world_1_fire_splinter_5(src="objects/world_1_fire_splinter_5.dae")
  a-asset-item#world_1_fire_splinter_6(src="objects/world_1_fire_splinter_6.dae")
  
  a-asset-item#world_1_tree_1(src="objects/world_1_tree_1.dae")
  a-asset-item#world_1_tree_2(src="objects/world_1_tree_2.dae")
  a-asset-item#world_1_tree_3(src="objects/world_1_tree_3.dae")
  
  a-asset-item#world_1_brush_1(src="objects/world_1_brush_1.dae")
  a-asset-item#world_1_brush_2(src="objects/world_1_brush_2.dae")
  
  a-asset-item#world_1_grass_1(src="objects/world_1_grass_1.dae")
  a-asset-item#world_1_grass_2(src="objects/world_1_grass_2.dae")
  a-asset-item#world_1_grass_3(src="objects/world_1_grass_3.dae")
  
  a-asset-item#world_1_terrain(src="objects/world_1_terrain.dae")
  
  //- WORLD 2
  
  a-asset-item#world_2_tree_1(src="objects/world_2_tree_1.dae")
  a-asset-item#world_2_tree_2(src="objects/world_2_tree_2.dae")
  a-asset-item#world_2_tree_3(src="objects/world_2_tree_3.dae")
  
  a-asset-item#world_2_brush_1(src="objects/world_2_brush_1.dae")
  a-asset-item#world_2_brush_2(src="objects/world_2_brush_2.dae")
  
  a-asset-item#world_2_grass_1(src="objects/world_2_grass_1.dae")
  a-asset-item#world_2_grass_2(src="objects/world_2_grass_2.dae")
  a-asset-item#world_2_grass_3(src="objects/world_2_grass_3.dae")
  
  a-asset-item#world_2_terrain(src="objects/world_2_terrain.dae")
  
  //- WORLD 3
  
  a-asset-item#world_3_tree_1(src="objects/world_3_tree_1.dae")
  a-asset-item#world_3_tree_2(src="objects/world_3_tree_2.dae")
  a-asset-item#world_3_tree_3(src="objects/world_3_tree_3.dae")
  
  a-asset-item#world_3_brush_1(src="objects/world_3_brush_1.dae")
  a-asset-item#world_3_brush_2(src="objects/world_3_brush_2.dae")
  
  a-asset-item#world_3_grass_1(src="objects/world_3_grass_1.dae")
  a-asset-item#world_3_grass_2(src="objects/world_3_grass_2.dae")
  a-asset-item#world_3_grass_3(src="objects/world_3_grass_3.dae")
  
  a-asset-item#canyon_1(src="objects/canyon_1.dae")
  a-asset-item#canyon_2(src="objects/canyon_2.dae")

  a-asset-item#world_3_terrain(src="objects/world_3_terrain.dae")
  
  //- WORLD 4
  
  a-asset-item#world_4_tree_1(src="objects/world_4_tree_1.dae")
  a-asset-item#world_4_tree_2(src="objects/world_4_tree_2.dae")
  a-asset-item#world_4_tree_3(src="objects/world_4_tree_3.dae")
  
  a-asset-item#world_4_brush_1(src="objects/world_4_brush_1.dae")
  a-asset-item#world_4_brush_2(src="objects/world_4_brush_2.dae")

  a-asset-item#world_4_grass_1(src="objects/world_4_grass_1.dae")
  a-asset-item#world_4_grass_2(src="objects/world_4_grass_2.dae")
  a-asset-item#world_4_grass_3(src="objects/world_4_grass_3.dae")

  a-asset-item#world_4_terrain(src="objects/world_4_terrain.dae")

  //- STONES
  
  a-asset-item#stone_1(src="objects/stone_1.dae")
  a-asset-item#stone_2(src="objects/stone_2.dae")
  a-asset-item#stone_3(src="objects/stone_3.dae")
  a-asset-item#stone_4(src="objects/stone_4.dae")
  a-asset-item#stone_5(src="objects/stone_5.dae")
  a-asset-item#stone_6(src="objects/stone_6.dae")
  a-asset-item#stone_7(src="objects/stone_7.dae")
  a-asset-item#stone_8(src="objects/stone_8.dae")
