a-entity
  a-entity(collada-model="url(objects/planet.dae)")
  a-entity(light="type: point; intensity: 0.75; distance: 50; decay: 2", position="0 -12 0")
a-entity
  a-entity(collada-model="url(objects/planet_particles_1.dae)")
  a-animation(attribute="rotation", dur="120000", easing="linear", fill="none", to="360 0 0", repeat="indefinite")
a-entity
  a-entity(collada-model="url(objects/planet_particles_2.dae)")
  a-animation(attribute="rotation", dur="120000", easing="linear", fill="none", to="0 0 360", repeat="indefinite")
