a-entity(collada-model="#world_1_fire", scale="1 1 1", position="-1 0 1")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="2 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="4 0 -2")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="8 0 -4")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="3 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="6 0 -2")

a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-2 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-4 0 -2")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-8 0 -4")
a-entity(collada-model="#world_2_brush_1", scale="1 1 1", position="-3 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-6 0 -2")

a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="10 0 -2")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="12 0 -4")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="16 0 -6")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="11 0 -2")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="14 0 -4")

a-entity(collada-model="#world_4_tree_1", scale="1 1 1", position="-10 0 -2")
a-entity(collada-model="#world_4_tree_2", scale="1 1 1", position="-12 0 -4")
a-entity(collada-model="#world_4_tree_3", scale="1 1 1", position="-16 0 -6")
a-entity(collada-model="#world_4_brush_1", scale="1 1 1", position="-11 0 -2")
a-entity(collada-model="#world_4_brush_2", scale="1 1 1", position="-14 0 -4")

a-entity(collada-model="#stone_1", scale="1 1 1", position="1.5 0 -6.5")
a-entity(collada-model="#stone_1", scale="1 1 1", position="1.5 0 -5.25", rotation="50 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="2 0 -6.5")
a-entity(collada-model="#stone_3", scale="1 1 1", position="3 0 -6.5")
a-entity(collada-model="#stone_4", scale="1 1 1", position="4 0 -6.5")
a-entity(collada-model="#stone_5", scale="1 1 1", position="5 0 -6.5")
a-entity(collada-model="#stone_6", scale="1 1 1", position="6 0 -6.5")
a-entity(collada-model="#stone_7", scale="1 1 1", position="7 0 -6.5")
a-entity(collada-model="#stone_8", scale="1 1 1", position="9 0 -6.5")

a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="0 0 -2")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="0 0 -2")
a-entity(collada-model="#world_1_grass_3", scale="1 1 1", position="0 0 -3")

a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="1 0 -2")
a-entity(collada-model="#world_2_grass_2", scale="1 1 1", position="1 0 -2")
a-entity(collada-model="#world_2_grass_3", scale="1 1 1", position="1 0 -3")

a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="2 0 -2")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="2 0 -2")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="2 0 -3")

a-entity(collada-model="#world_4_grass_1", scale="1 1 1", position="3 0 -2")
a-entity(collada-model="#world_4_grass_2", scale="1 1 1", position="3 0 -2")
a-entity(collada-model="#world_4_grass_3", scale="1 1 1", position="3 0 -3")

//- MONTAINS

//- due davanti - funzionano entrambe
a-entity(collada-model="#world_1_montain_1", scale="1 1 1", position="0 0 -50")
a-entity(collada-model="#world_1_montain_2", scale="1 1 1", position="10 0 -50")

//- due a left - funzionano entrambe
a-entity(collada-model="#world_2_montain_1", scale="1 1 1", position="-80 0 -150")
a-entity(collada-model="#world_2_montain_2", scale="1 1 1", position="-40 0 -80")

//- due di dietro - funzionano entrambe
a-entity(collada-model="#world_3_montain_1", scale="1 1 1", position="30 0 20")
a-entity(collada-model="#world_3_montain_2", scale="1 1 1", position="0 0 120")

//- due a rigth - funzionano entrambe
a-entity(collada-model="#world_4_montain_1", scale="1 1 1", position="80 0 -60")
a-entity(collada-model="#world_4_montain_2", scale="1 1 1", position="60 0 -90")
