//- Stones

a-entity(collada-model="#stone_6", scale="1 1 1", position="14.57893 0 -15.62945", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="28.59873 0 -45.00159", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="50.01677 0 -22.55547", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="37.73433 0 -29.7998", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="48.29587 0 -38.66108", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="25.55133 0 -39.56548", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-2.3417 0 -30.28925", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="14.26781 0 -58.22694", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="11.31245 0 -24.13751", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="32.26487 0 -22.9025", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="8.07845 0 -31.27721", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="5.21229 0 -34.46119", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-0.12951 0 -29.09151", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="22.39011 0 -8.90966", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="13.93718 0 -48.80917", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="42.64181 0 -39.91957", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="47.02172 0 -41.90175", rotation="0 0 0")
a-entity(collada-model="#stone_8", scale="1 1 1", position="54.44347 0 -25.66302", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="30.29452 0 -37.75101", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="26.42518 0 -37.59143", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="26.72401 0 -50.27386", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="20.10587 0 -49.94702", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="31.86295 0 -51.62743", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="25.84934 0 -51.05077", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="27.98427 0 -30.33929", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="15.99509 0 -42.67342", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="36.25906 0 -31.81886", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="41.94417 0 -19.32339", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="59.05632 0 -24.62495", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="20.49019 0 -54.81102", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="41.60278 0 -16.18422", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="22.85735 0 -47.30696", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="27.96411 0 -48.59327", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="26.1076 0 -56.5103", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="55.83841 0 -29.70964", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="22.52035 0 -44.74196", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="26.73247 0 -56.32103", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="48.95781 0 -25.28548", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="46.31968 0 -33.28473", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="48.03635 0 -33.44465", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="56.19595 0 -26.9792", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="37.62653 0 -42.21947", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="22.50265 0 -43.3442", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="23.70219 0 -15.65505", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="54.52557 0 -26.8247", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="9.65992 0 -44.35429", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="40.26193 0 -34.01396", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="6.31074 0 -21.29728", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="26.20475 0 -53.74742", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="24.81406 0 -12.48914", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="6.33074 0 -42.03395", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="42.24976 0 -31.20337", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="35.15317 0 -42.09725", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="38.33577 0 -30.67111", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="20.39066 0 -37.84507", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="20.88899 0 -23.99495", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="25.99903 0 -13.43743", rotation="0 0 0")
a-entity(collada-model="#stone_8", scale="1 1 1", position="6.95139 0 -50.19098", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="9.72129 0 -20.33869", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="33.49278 0 -35.16132", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="31.9259 0 -40.44752", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="59.19879 0 -18.88734", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="28.37873 0 -38.55088", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="21.49217 0 -58.21185", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="52.42432 0 -17.60246", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="54.56762 0 -31.17853", rotation="0 0 0")

//- Grass

a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="21.2555 0 -51.88377", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="9.62036 0 -24.05165", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="41.91329 0 -37.11468", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="42.41611 0 -33.67532", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="42.14276 0 -17.06315", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="22.5587 0 -33.65011", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="-1.96897 0 -27.53284", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="30.34874 0 -29.69383", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="-0.29909 0 -27.99711", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="45.83053 0 -34.64186", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="20.25951 0 -10.42533", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="40.96988 0 -20.72162", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="4.15678 0 -32.22893", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="27.03958 0 -10.59042", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="1.75495 0 -32.6678", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="33.53674 0 -33.49932", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="57.28457 0 -19.34129", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="36.54782 0 -17.64911", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="4.69052 0 -30.22961", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="22.51167 0 -54.40666", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="27.28665 0 -50.81876", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="22.04882 0 -21.91264", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="26.65387 0 -9.33754", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="19.22885 0 -7.83263", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="9.58961 0 -30.79011", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="-0.03193 0 -22.74244", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="39.60386 0 -12.47564", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="54.87919 0 -17.35276", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="22.76554 0 -45.78847", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="-0.80319 0 -33.30414", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="33.19246 0 -42.7708", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="42.00089 0 -40.75303", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="18.46112 0 -18.10404", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="37.47751 0 -29.15163", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="3.82533 0 -21.30035", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="34.12178 0 -38.4379", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="54.64772 0 -16.4502", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="35.71412 0 -17.57452", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="2.10045 0 -48.06697", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="25.08737 0 -45.78947", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="24.4422 0 -56.80919", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="21.28284 0 -11.97855", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="49.17782 0 -28.22885", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="20.30884 0 -44.42068", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="39.0052 0 -44.97718", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="5.19455 0 -34.06043", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="32.91054 0 -29.85022", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="21.55165 0 -42.93799", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="57.41784 0 -26.1415", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="38.88801 0 -46.39", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="6.70105 0 -56.96318", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="44.52542 0 -20.72613", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="48.82548 0 -37.60438", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="33.16563 0 -25.63851", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="23.24871 0 -37.51391", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="6.37323 0 -29.63799", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="25.40669 0 -8.25235", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="47.14414 0 -24.51133", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_3", scale="1 1 1", position="1.13322 0 -32.81612", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="41.73742 0 -16.22531", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_1", scale="1 1 1", position="1.16484 0 -30.82758", rotation="0 0 0")
a-entity(collada-model="#world_3_grass_2", scale="1 1 1", position="25.30908 0 -9.42054", rotation="0 0 0")

//- Brushes

a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="5.89997 0 -34.38942", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="33.86002 0 -27.57351", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="33.52233 0 -47.54433", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="11.18292 0 -22.75099", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="31.25513 0 -38.54265", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="50.15281 0 -35.5804", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="19.24136 0 -49.06518", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="-0.50108 0 -18.01183", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="46.15044 0 -21.96709", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="22.74855 0 -50.96173", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="28.63931 0 -44.85436", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="20.4715 0 -59.95257", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="6.45158 0 -47.39605", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="7.08081 0 -31.30314", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="22.4922 0 -42.7184", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="6.24001 0 -56.84959", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="14.45028 0 -42.01516", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="20.37259 0 -51.79385", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="8.40026 0 -46.48981", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="25.80986 0 -13.96282", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="-4.30398 0 -27.20976", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="22.91459 0 -45.82722", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="15.82442 0 -45.50632", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="38.11272 0 -14.96618", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="28.45431 0 -35.58095", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="13.33338 0 -14.37676", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="51.2108 0 -35.06507", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="12.01261 0 -26.90118", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="12.31132 0 -42.66516", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="39.88667 0 -21.20681", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="26.25562 0 -31.45882", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="25.45814 0 -11.31482", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="54.29459 0 -21.76609", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="35.95772 0 -33.47171", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="11.68511 0 -61.25312", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="27.07271 0 -15.39112", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="49.55552 0 -25.54249", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="3.93472 0 -45.66627", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="21.67493 0 -48.05583", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="7.1851 0 -24.44789", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="14.98549 0 -40.7276", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="11.16457 0 -45.1749", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="20.46395 0 -36.00077", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="48.57981 0 -35.96511", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="-0.52442 0 -35.85563", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="42.71844 0 -19.92968", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="39.31913 0 -22.32278", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="57.61851 0 -21.64319", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="2.9673 0 -32.44622", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="0.04351 0 -35.81648", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="40.53678 0 -18.1091", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="52.24033 0 -24.79507", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="28.24434 0 -39.54702", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="52.63014 0 -23.00201", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="3.67175 0 -57.92272", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="53.05104 0 -34.62733", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="8.42611 0 -58.7799", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="20.23874 0 -11.11198", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="36.52527 0 -31.8795", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="21.05848 0 -42.49868", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="32.48414 0 -35.84977", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="11.96751 0 -40.32795", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="19.86049 0 -43.92606", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="40.26127 0 -29.29611", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="11.93963 0 -17.78726", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_2", scale="1 1 1", position="24.26035 0 -7.98542", rotation="0 0 0")
a-entity(collada-model="#world_3_brush_1", scale="1 1 1", position="49.03915 0 -26.17959", rotation="0 0 0")

//- Trees

a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="11.07786 0 -57.67262", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="18.2874 0 -41.2823", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="20.40747 0 -42.52982", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="12.25947 0 -43.21099", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="20.19853 0 -37.54856", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="1.12998 0 -34.91409", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="42.63179 0 -41.48013", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="-0.03005 0 -24.37225", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="6.96825 0 -23.6549", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="24.25505 0 -9.16488", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="53.97533 0 -23.70796", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="-2.44551 0 -28.79124", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="41.94706 0 -14.10734", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="26.35337 0 -37.51384", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="8.44873 0 -45.58445", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="51.38052 0 -35.31274", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="28.08982 0 -13.03539", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="34.70877 0 -28.42881", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="15.54463 0 -16.81837", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="4.64759 0 -43.16462", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="15.12953 0 -12.61867", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="8.463 0 -21.13843", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="20.15752 0 -10.32715", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="35.74248 0 -33.28065", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="11.35561 0 -57.76909", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="14.48187 0 -61.81492", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="27.15615 0 -42.61639", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="54.27658 0 -18.94228", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="20.10955 0 -43.95063", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="55.67477 0 -22.9587", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="47.46318 0 -35.82383", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="33.27034 0 -41.28359", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="25.57227 0 -32.39328", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="16.20624 0 -55.99273", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="35.72596 0 -19.97679", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="38.45243 0 -42.26482", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="32.82695 0 -44.85167", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="20.90793 0 -36.21588", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="59.3891 0 -20.04634", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="39.99704 0 -14.45155", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="16.17657 0 -26.51155", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="32.22736 0 -24.90934", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="29.08977 0 -40.03603", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="39.86775 0 -28.97314", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="6.18564 0 -62.77256", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="17.07972 0 -20.9534", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="2.71945 0 -28.49717", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="24.12158 0 -36.94862", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="4.84368 0 -57.37032", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="60.95435 0 -17.89192", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="15.64216 0 -44.12267", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="35.83101 0 -26.51675", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="24.93204 0 -39.18751", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="48.32205 0 -23.47998", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="27.45952 0 -43.7467", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="2.54223 0 -36.44316", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="21.59053 0 -58.65711", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="41.97159 0 -41.67271", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="17.33922 0 -17.7678", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="12.00534 0 -54.35037", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="18.75055 0 -38.34583", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="-3.0828 0 -29.8204", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="48.46609 0 -30.46", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="43.95866 0 -24.01691", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="14.19273 0 -44.25264", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="17.3442 0 -56.41264", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="19.77771 0 -16.18074", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="16.87337 0 -25.26956", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="16.87033 0 -38.68417", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="31.6333 0 -31.4883", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="55.58048 0 -30.88817", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="42.39378 0 -43.84325", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="3.24087 0 -34.6701", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="28.45687 0 -37.65554", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="22.98871 0 -48.46704", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="39.78719 0 -11.96148", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="33.34011 0 -53.86832", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="43.36811 0 -35.0138", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="39.32117 0 -18.53996", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="27.0426 0 -54.99881", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="51.20086 0 -38.03092", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="7.07614 0 -57.34147", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="29.55312 0 -33.49251", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="24.36317 0 -52.0088", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="38.87353 0 -32.79483", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="13.10995 0 -23.15407", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="26.8904 0 -29.85332", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="10.64908 0 -29.89602", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="1.30093 0 -17.97288", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="27.89318 0 -46.11932", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="42.33654 0 -35.42553", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="7.80496 0 -44.31752", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="25.02835 0 -36.12288", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="19.64627 0 -39.94677", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="39.45315 0 -13.39993", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="40.06564 0 -31.39604", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="32.92002 0 -44.2019", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_2", scale="1 1 1", position="38.80803 0 -36.68373", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="45.16516 0 -36.69761", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="34.7395 0 -32.53069", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="20.74635 0 -40.01882", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="31.14996 0 -55.77465", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="16.65827 0 -8.53588", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="10.75064 0 -18.18457", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="23.70486 0 -51.18054", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="37.05886 0 -50.5681", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="16.09345 0 -7.8092", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="45.84476 0 -44.25853", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="-1.05553 0 -34.58863", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="34.82477 0 -21.91243", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="54.96999 0 -17.94267", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="3.50238 0 -34.45805", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="25.02998 0 -45.81351", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="23.70351 0 -15.40724", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="36.1127 0 -28.26118", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="1.45346 0 -34.20019", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_3", scale="1 1 1", position="1.06057 0 -26.7831", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="19.15134 0 -9.80755", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="56.29351 0 -26.88004", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="14.28085 0 -41.2043", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="32.22511 0 -43.4725", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="45.51964 0 -26.36177", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="21.52788 0 -38.93027", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="27.13931 0 -15.92212", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="54.91149 0 -25.50116", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="38.57244 0 -12.35246", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="25.93461 0 -37.85342", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="57.10791 0 -15.68907", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="17.85583 0 -8.28141", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="31.48 0 -39.67316", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="28.10107 0 -37.30915", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="38.64187 0 -23.75392", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="4.76646 0 -48.22784", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="60.62579 0 -16.17741", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="14.76614 0 -45.14487", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="7.54891 0 -23.53947", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="5.37161 0 -31.17455", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="37.28069 0 -16.51226", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="26.74592 0 -12.26316", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="21.74293 0 -47.59663", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="13.59934 0 -46.35894", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="17.20524 0 -11.35959", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="34.81946 0 -45.33962", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="38.07908 0 -41.77106", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="42.32904 0 -34.60347", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="11.03994 0 -40.86515", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="34.12282 0 -52.45198", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="40.68678 0 -33.36963", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="15.36981 0 -61.7639", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="17.34486 0 -24.61579", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="2.5024 0 -24.0896", rotation="0 0 0")
a-entity(collada-model="#world_3_tree_1", scale="1 1 1", position="17.10398 0 -45.94692", rotation="0 0 0")
