a-entity(collada-model="#world_1_fire", scale="1 1 1", position="0 0 0", rotation="0 0 0")
  a-entity(collada-model="#world_1_fire_splinter_1", scale="1 1 1", position="0 0 0", rotation="0 0 0")
  a-entity(collada-model="#world_1_fire_splinter_2", scale="1 1 1", position="0 0 0", rotation="0 0 0")
  a-entity(collada-model="#world_1_fire_splinter_3", scale="1 1 1", position="0 0 0", rotation="0 0 0")
  a-entity(collada-model="#world_1_fire_splinter_4", scale="1 1 1", position="0 0 0", rotation="0 0 0", material="opacity: 0.5")
    //- a-animation(attribute="rotation", dur="120000", easing="linear", fill="none", to="360 0 0", repeat="indefinite")
  a-entity(collada-model="#world_1_fire_splinter_5", scale="1 1 1", position="0 0 0", rotation="0 0 0")
  a-entity(collada-model="#world_1_fire_splinter_6", scale="1 1 1", position="0 0 0", rotation="0 0 0")
