//- Assets ---------------------------------------------------------------------

a-assets

  a-asset-item#island(src="objects/island.dae")
  a-asset-item#mountain(src="objects/mountain.dae")
  
  a-asset-item#canyon_1(src="objects/canyon_1.dae")
  a-asset-item#canyon_2(src="objects/canyon_2.dae")

  //- WORLD 1
  
  a-asset-item#world_1_fire(src="objects/world_1_fire.dae")
  
  a-asset-item#world_1_tree_1(src="objects/world_1_tree_1.dae")
  a-asset-item#world_1_tree_2(src="objects/world_1_tree_2.dae")
  a-asset-item#world_1_tree_3(src="objects/world_1_tree_3.dae")
  
  a-asset-item#world_1_brush_1(src="objects/world_1_brush_1.dae")
  a-asset-item#world_1_brush_2(src="objects/world_1_brush_2.dae")
  
  a-asset-item#world_1_grass_1(src="objects/world_1_grass_1.dae")
  a-asset-item#world_1_grass_2(src="objects/world_1_grass_2.dae")
  a-asset-item#world_1_grass_3(src="objects/world_1_grass_3.dae")
  
  a-asset-item#world_1_montain_1(src="objects/world_1_montain_1.dae")
  a-asset-item#world_1_montain_2(src="objects/world_1_montain_2.dae")
  
  //- WORLD 2
  
  a-asset-item#world_2_tree_1(src="objects/world_2_tree_1.dae")
  a-asset-item#world_2_tree_2(src="objects/world_2_tree_2.dae")
  a-asset-item#world_2_tree_3(src="objects/world_2_tree_3.dae")
  
  a-asset-item#world_2_brush_1(src="objects/world_2_brush_1.dae")
  a-asset-item#world_2_brush_2(src="objects/world_2_brush_2.dae")
  
  a-asset-item#world_2_grass_1(src="objects/world_2_grass_1.dae")
  a-asset-item#world_2_grass_2(src="objects/world_2_grass_2.dae")
  a-asset-item#world_2_grass_3(src="objects/world_2_grass_3.dae")
  
  a-asset-item#world_2_montain_1(src="objects/world_2_montain_1.dae")
  a-asset-item#world_2_montain_2(src="objects/world_2_montain_2.dae")
  
  //- WORLD 3
  
  a-asset-item#world_3_tree_1(src="objects/world_3_tree_1.dae")
  a-asset-item#world_3_tree_2(src="objects/world_3_tree_2.dae")
  a-asset-item#world_3_tree_3(src="objects/world_3_tree_3.dae")
  
  a-asset-item#world_3_brush_1(src="objects/world_3_brush_1.dae")
  a-asset-item#world_3_brush_2(src="objects/world_3_brush_2.dae")
  
  a-asset-item#world_3_grass_1(src="objects/world_3_grass_1.dae")
  a-asset-item#world_3_grass_2(src="objects/world_3_grass_2.dae")
  a-asset-item#world_3_grass_3(src="objects/world_3_grass_3.dae")
  
  a-asset-item#world_3_montain_1(src="objects/world_3_montain_1.dae")
  a-asset-item#world_3_montain_2(src="objects/world_3_montain_2.dae")
  
  //- WORLD 4
  
  a-asset-item#world_4_tree_1(src="objects/world_4_tree_1.dae")
  a-asset-item#world_4_tree_2(src="objects/world_4_tree_2.dae")
  a-asset-item#world_4_tree_3(src="objects/world_4_tree_3.dae")
  
  a-asset-item#world_4_brush_1(src="objects/world_4_brush_1.dae")
  a-asset-item#world_4_brush_2(src="objects/world_4_brush_2.dae")

  a-asset-item#world_4_grass_1(src="objects/world_4_grass_1.dae")
  a-asset-item#world_4_grass_2(src="objects/world_4_grass_2.dae")
  a-asset-item#world_4_grass_3(src="objects/world_4_grass_3.dae")

  a-asset-item#world_4_montain_1(src="objects/world_4_montain_1.dae")
  a-asset-item#world_4_montain_2(src="objects/world_4_montain_2.dae")

  //- STONES
  
  a-asset-item#stone_1(src="objects/stone_1.dae")
  a-asset-item#stone_2(src="objects/stone_2.dae")
  a-asset-item#stone_3(src="objects/stone_3.dae")
  a-asset-item#stone_4(src="objects/stone_4.dae")
  a-asset-item#stone_5(src="objects/stone_5.dae")
  a-asset-item#stone_6(src="objects/stone_6.dae")
  a-asset-item#stone_7(src="objects/stone_7.dae")
  a-asset-item#stone_8(src="objects/stone_8.dae")
