//- Assets ---------------------------------------------------------------------

a-assets
  a-asset-item#grass-1(src="objects/grass-1.dae")
  a-asset-item#tree-1(src="objects/tree-1.dae")
  a-asset-item#tree-2(src="objects/tree-2.dae")
  a-asset-item#tree-3(src="objects/tree-3.dae")
  a-asset-item#ground-128(src="objects/ground-128.dae")
  a-asset-item#ground-64(src="objects/ground-64.dae")
  a-asset-item#ground-32(src="objects/ground-32.dae")

  //- volcano
  
