head
  meta(charset="utf-8")
  title #{title}
  meta(name="description", content="#{description}")
  meta(name="robots", content="index, follow")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, maximum-scale=1")
  meta(name="mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="theme-color" content="#000")
  link(rel="icon", sizes="192x192", href="img/icon-192.png")
  link(rel="stylesheet", href="css/all.css")
  script(src="js/all.js")
