//- a-scene(stats, fog="type: exponential; color: #{fog1}; density: 0.05;", vr-mode-ui="enabled: false")
a-scene#scene
  
  //- INFOS --------------------------------------------------------------------
  
  //- position="x y z"
  
  //- ASSETS ---------------------------------------------------------------

  include _assets.jade
  //- include _birds.jade
  //- include _test.jade

  //- WORLD 1 ------------------------------------------------------------------  
  
  a-entity.world_1_module(position="0 0 0", rotation="0 0 0")
    include _world_1_module.jade

  a-entity(collada-model="#world_1_fire", scale="1 1 1", position="-32 0 40", rotation="0 0 0")

  //- WORLD 2 ------------------------------------------------------------------  

  a-entity.world_2_module(position="0 0 0", rotation="0 0 0")
    include _world_2_module.jade
    
  //- WORLD 3 ------------------------------------------------------------------  

  a-entity.world_3_module(position="0 0 0", rotation="0 0 0")
    include _world_3_module.jade

  a-entity(collada-model="#canyon_1", scale="1 1 1", position="51 0 -50", rotation="0 -90 0")
  a-entity(collada-model="#canyon_2", scale="1 1 1", position="51 0 -38", rotation="0 -93 0")

  //- WORLD 4 ------------------------------------------------------------------  

  a-entity.world_4_module(position="0 0 0", rotation="0 0 0")
    include _world_4_module.jade
    
  a-entity.planet(position="100 0 100")
    include _planet.jade

  //- MOUNTAIN -----------------------------------------------------------------

  a-entity(collada-model="#mountain", scale="1 1 1", position="-0.5 0 0", rotation="0 -177 0")

  //- ISLAND -------------------------------------------------------------------
  
  // perferct range of scale {12>18-24}
  //- a-entity(collada-model="#island", scale="1 1 1", position="0 0 0", rotation="0 0 0")
  
  //- world_1: #274D29 | world_2: #4E4720 | world_3: #4F3F25 | world_4: #235244
  a-entity.ground(geometry="primitive: circle; radius: 64", material="color: #CCC;", position="0 0 0", rotation="-90 0 0")

  //- SEA ----------------------------------------------------------------------
  
  a-entity.sea(geometry="primitive: circle; radius: 256", material="side: double; color: #4296BA; transparent: true; opacity: 0.5", position="0 -0.1 0", rotation="-90 0 0")
  
  //- Lights -------------------------------------------------------------------

  //- luminosità dell’ambiente
  a-light(light="type: ambient; color: #FFF;")
  //- simile al sole
  a-light(light="type: directional; color: #FFF; intensity: 1", position="-1 1 0")

  //- risolvere il problema delle luce
  
  //- offre di realizzare il gradiente tra i due colori
  //- a-entity(light="type: hemisphere; color: #E7E7E7; groundColor: #E7E7E7; intensity: 0.5")
  //- a-entity(light="type: point; intensity: 0.75; distance: 50; decay: 2", position="0 10 10")
  //- a-entity(light="type: spot; angle: 45")

  //- Sky ----------------------------------------------------------------------
  
  //- world_1: #A0FFFF | world_2: #D6FFC5 | world_3: #D8ECAD | world_4: #DAE2B1
  a-sky.sky(color="#CCC", radius="1000")
  
  //- PLAYER -------------------------------------------------------------------
  
  //- https://github.com/donmccurdy/aframe-extras/tree/master/src/controls#input-devices
  
  //- DEBUG: a-entity#player(camera, universal-controls, position="0 75 0", rotation="-90 0 0")
  a-entity#player(camera, universal-controls, position="-31 1.5 44")
