//- a-scene#scene(stats, fog="type: linear; color: #A0FFFF; far: 30")
a-scene.scene

  //- INFOS --------------------------------------------------------------------

  //- per far diventare il buio si fa fog + due luci = 3 #000
  //- position="x y z"
  
  //- ASSETS ---------------------------------------------------------------

  include scene/_assets.jade
  //- include _birds.jade
  //- include _test.jade

  //- WORLD 1 ------------------------------------------------------------------  
  
  a-entity.world_1_module(position="0 0 0", rotation="0 0 0", visible="false")
    include scene/_world_1_module.jade

  a-entity.world_1_fire(scale="1 1 1", position="-32 0 40", rotation="0 0 0", visible="false")
    include scene/_world_1_fire.jade
  
  a-entity.world_1_terrain(collada-model="#world_1_terrain", scale="1 1 1", position="0 0 0", rotation="0 0 0", visible="false")

  //- WORLD 2 ------------------------------------------------------------------  
  
  a-entity.world_2_module(position="0 0 0", rotation="0 0 0", visible="false")
    include scene/_world_2_module.jade
  
  a-entity.world_2_terrain(collada-model="#world_2_terrain", scale="1 1 1", position="0 0 0", rotation="0 0 0", visible="false")
    
  //- WORLD 3 ------------------------------------------------------------------  
  
  a-entity.world_3_module(position="0 0 0", rotation="0 0 0", visible="false")
    include scene/_world_3_module.jade
  
  a-entity.canyon_1(collada-model="#canyon_1", scale="1 1 1", position="51 0 -50", rotation="0 -90 0", visible="false")
  a-entity.canyon_2(collada-model="#canyon_2", scale="1 1 1", position="56 0 -36", rotation="0 -110 0", visible="false")
  
  a-entity.world_3_terrain(collada-model="#world_3_terrain", scale="1 1 1", position="0 0 0", rotation="0 0 0", visible="false")
  
  //- WORLD 4 ------------------------------------------------------------------  
  
  a-entity.world_4_module(position="0 0 0", rotation="0 0 0", visible="false")
    include scene/_world_4_module.jade
    
  a-entity.planet(position="90 0 70", visible="false")
    include scene/_planet.jade

  a-entity.world_4_terrain(collada-model="#world_4_terrain", scale="1 1 1", position="0 0 0", rotation="0 0 0", visible="false")

  //- ROAD ---------------------------------------------------------------------

  a-entity.road(collada-model="#road", scale="1 1 1", position="0 0.25 0", rotation="0 -180 -180", visible="true")

  //- MOUNTAIN -----------------------------------------------------------------

  a-entity.mountain(collada-model="#mountain", scale="1 1 1", position="-0.5 0 -1.5", rotation="0 -177 0", visible="true")

  //- SEA ----------------------------------------------------------------------

  a-entity.sea(geometry="primitive: circle; radius: 256", material="side: double; color: #FFF; transparent: true; opacity: 0.5", position="0 -0.5 0", rotation="-90 0 0")

  //- SUN ----------------------------------------------------------------------

  //- a-entity.sun(position="120 90 44", rotation ="0 -90 0")
  //-   a-entity(geometry="primitive: circle; radius: 1", material="color: #FFD200", scale="10 10 10")

  //- CLOUDS -------------------------------------------------------------------
  
  a-entity.clouds(position="64 0 -64", rotation="0 0 0", visible="true")
    include scene/_clouds.jade

  //- Lights -------------------------------------------------------------------

  a-light.ambient(light="type: ambient; color: #FFF;")
  a-light.directional(light="type: directional; color: #FFF; intensity: 1", position="-1 1 0")
  //- a-entity(light="type: hemisphere; color: #red; groundColor: #blue; intensity: 0.5")
  //- a-entity(light="type: point; intensity: 0.75; distance: 50; decay: 2", position="-31 1.5 44")
  //- a-entity(light="type: spot" position="-31 15 44")

  //- Sky ----------------------------------------------------------------------
  
  a-sky.sky(color="#CCC", radius="1000")
  a-entity.sphere(geometry="primitive: sphere; radius: 128", material="color: #CCC; side: double")
  
  //- SOUND --------------------------------------------------------------------

  a-entity.soundtrack(sound="src: media/soundtrack.mp3")

  //- PLAYER | -31 1.5 44 | -36 1.5 2.22 ---------------------------------------

  a-entity#camera-player(camera="true", universal-controls, position="-31 1.5 44")
    a-entity.light(light="type: point; intensity: 3; distance: 50; decay: 2" position="0 0 0", rotation="0 0 0", visible="false")

  a-entity#camera-top(camera="false", position="0 75 0", rotation="-90 0 0")
