//- TEXT -----------------------------------------------------------------------

- var title            = "VR – Horoman"
- var description      = "A thesis WebVR project"

//- COLORS ---------------------------------------------------------------------

- var fog              = "#93E9CC";
- var sky              = "#fbc93a";
- var lightAmbient     = "#DCDCDC";
- var lightDirectional = "#DCDCDC";
- var neutral          = "#a7a7a7";
- var warm             = "#FB3A3A";
