//- TEXT -----------------------------------------------------------------------

- var title            = "Island: Atlantis"
- var description      = "A prequel WebVR environment to videogame Atlantis"

//- COLORS 1 -------------------------------------------------------------------

- var fog1              = "#E5FFC5";
- var sky1              = "#E5FFC5";
- var ground1           = "#F89745";
- var object1           = "#7C7965";
- var lightAmbient1     = "#A8A8A8";
- var lightDirectional1 = "#FFFFFF";
- var hemisphere1       = "#000000";

//- COLORS 2 -------------------------------------------------------------------

- var fog2              = "#EEFFAF";
- var sky2              = "#EEFFAF";
- var ground2           = "#8F0017";
- var object2           = "#626262";
- var lightAmbient2     = "#A8A8A8";
- var lightDirectional2 = "#FFFFFF";
- var hemisphere2       = "#000000";
