//- SKY ------------------------------------------------------------------------

- var sky1 = "#F1FFC4";
- var sky2 = "#93E9CC";
- var sky3 = "#457CB5";

//- GROUND ---------------------------------------------------------------------

- var ground1 = "#F5EDA4";
- var ground2 = "#DA9A3B";
- var ground3 = "#AC0F32";
- var ground4 = "#5ECDAD";

//- WATER ----------------------------------------------------------------------

- var water1 = "#BEC893";
- var water2 = "#67C7A2";
- var water2 = "#509FC0";

//- TREE -----------------------------------------------------------------------

- var tree1 = "#D7C977";
- var tree2 = "#4E3143";
- var tree3 = "#E8963B";
- var tree4 = "#DC2437";
