- var title            = "Aeon"
- var description      = "A prequel WebVR environment to videogame Aeon"
- var thumbnail        = "img/thumbnail.jpg" // perfect size: 1200x630
- var twitter          = "@h0r0man"
- var facebookAppID    = "1195622663792072"
- var url              = "http://aeon.horoman.com"
