//- Stones

a-entity(collada-model="#stone_7", scale="1 1 1", position="-25.81905 0 47.15078", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-45.59613 0 4.97265", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="-51.4865 0 5.3021", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-53.88138 0 1.23371", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-54.79967 0 30.25551", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-21.58641 0 -0.23731", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-45.51202 0 13.50321", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-18.26363 0 56.74628", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-37.82179 0 9.54007", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="-21.46037 0 19.27911", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-43.24442 0 -3.56486", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-26.73143 0 51.3399", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="-35.21996 0 43.01796", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-27.89302 0 47.74422", rotation="0 0 0")
a-entity(collada-model="#stone_8", scale="1 1 1", position="-21.22363 0 37.14981", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-41.97455 0 5.19912", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-35.32938 0 35.92346", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-27.50457 0 3.697", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="-52.10818 0 27.72359", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-19.69998 0 25.41967", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-39.87346 0 39.25795", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-53.46898 0 4.96365", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="-41.21999 0 12.00472", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-58.35033 0 24.67314", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-38.12587 0 27.95034", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-38.64845 0 39.15928", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-30.35728 0 50.92165", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-25.3696 0 38.05257", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="-39.19238 0 44.09805", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="-29.86773 0 46.58251", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-40.47403 0 44.64103", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="-21.21831 0 45.79872", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-38.77938 0 6.88693", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="-38.09647 0 1.33153", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-39.54873 0 50.18335", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="-32.14836 0 1.18654", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-23.67168 0 44.56328", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-43.89886 0 12.55247", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="-24.83193 0 40.6925", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-33.95141 0 23.24785", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-40.92754 0 31.78645", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-31.98018 0 31.31555", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-32.87869 0 -1.32223", rotation="0 0 0")
a-entity(collada-model="#stone_5", scale="1 1 1", position="-17.64121 0 57.18482", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-26.66389 0 0.29392", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-34.05289 0 24.75544", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-53.59637 0 -7.88751", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-25.28305 0 43.60944", rotation="0 0 0")
a-entity(collada-model="#stone_6", scale="1 1 1", position="-45.59133 0 19.4267", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-45.99626 0 38.84916", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-26.23719 0 21.62331", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-46.84375 0 26.78682", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-37.92245 0 19.36796", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-48.67921 0 11.60068", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-37.26495 0 32.04641", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-21.05274 0 39.60058", rotation="0 0 0")
a-entity(collada-model="#stone_4", scale="1 1 1", position="-39.25797 0 30.41626", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-56.17908 0 8.8895", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="-39.28177 0 29.83974", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-49.62803 0 8.92895", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-34.20589 0 42.31389", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-43.00819 0 0.26728", rotation="0 0 0")
a-entity(collada-model="#stone_3", scale="1 1 1", position="-20.37704 0 10.50715", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-54.47407 0 -0.96573", rotation="0 0 0")
a-entity(collada-model="#stone_2", scale="1 1 1", position="-31.11874 0 8.44668", rotation="0 0 0")
a-entity(collada-model="#stone_7", scale="1 1 1", position="-48.92885 0 -0.54366", rotation="0 0 0")

//- Grass

a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-23.03325 0 25.68824", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-29.25853 0 55.43105", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-28.30785 0 39.97509", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-33.20856 0 44.85539", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-53.37321 0 6.39338", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-21.52929 0 -1.19944", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-45.81617 0 42.47327", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-29.48598 0 6.13269", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-22.71551 0 18.17565", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-59.9369 0 16.95424", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-38.45143 0 4.39625", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-31.49315 0 2.33051", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-38.05464 0 23.9392", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-52.85785 0 0.88093", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-52.07147 0 -1.4177", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-44.92509 0 -1.46407", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-26.05468 0 43.1652", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-24.88483 0 40.06387", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-34.62196 0 3.72233", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-34.48907 0 23.20165", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-62.86731 0 1.75346", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-25.47207 0 52.32171", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-36.26022 0 -27.51381", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-60.10085 0 -1.76808", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-41.78167 0 18.65086", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-45.56338 0 1.30508", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-50.98239 0 9.66258", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-48.66131 0 12.0763", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-27.40542 0 5.0053", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-57.30161 0 14.73666", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-36.61175 0 42.02603", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-29.0193 0 10.57073", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-57.32188 0 -7.99826", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-55.02689 0 21.37344", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-27.06652 0 36.01448", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-30.3098 0 46.19018", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-38.41956 0 40.25668", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-23.7117 0 18.16685", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-42.56559 0 33.03624", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-54.07526 0 7.16471", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-28.83037 0 14.22404", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-48.25517 0 30.54189", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-18.60389 0 21.50134", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-60.42183 0 6.31096", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-30.20704 0 12.35668", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-35.91381 0 16.09203", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-38.60016 0 20.64589", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-35.9946 0 36.31775", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-51.08798 0 -5.6587", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-51.97384 0 -3.30437", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-26.47058 0 21.03794", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-51.37959 0 27.03868", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-23.27147 0 29.94475", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-61.80511 0 1.26333", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-41.62979 0 14.32169", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-39.1801 0 44.12762", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-46.71227 0 24.51519", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_1", scale="1 1 1", position="-48.46545 0 6.48757", rotation="0 0 0")
a-entity(collada-model="#world_1_grass_2", scale="1 1 1", position="-51.69839 0 7.26518", rotation="0 0 0")

//- Brushes

a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-56.998 0 -0.49055", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-20.36706 0 -1.84724", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-27.81876 0 35.29508", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-60.11625 0 3.12312", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-60.41393 0 10.92936", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-37.87538 0 0.55626", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-36.18898 0 33.79256", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-37.58401 0 5.46758", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-33.47704 0 37.4492", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-45.78124 0 17.8498", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-35.9184 0 40.71342", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-44.7607 0 12.0243", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-25.62973 0 47.57035", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-31.96525 0 7.50329", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-39.53112 0 48.11298", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-22.24533 0 38.60081", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-39.59205 0 49.05677", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-52.61264 0 -2.55622", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-52.30066 0 -8.61468", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-54.92427 0 31.97051", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-51.30433 0 31.57669", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-18.56404 0 36.60265", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-31.66738 0 31.84216", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-26.83498 0 8.82192", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-30.40649 0 25.97219", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-49.56724 0 -3.80846", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-23.37214 0 37.44268", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-21.88771 0 4.70463", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-51.20665 0 17.28923", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-46.81596 0 32.17778", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-54.8068 0 -3.26063", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-58.05329 0 1.53472", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-39.83374 0 41.43934", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-41.64474 0 -5.63271", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-25.69896 0 42.31522", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-39.17352 0 43.60323", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-38.47759 0 30.30668", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-46.36251 0 -1.3764", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-44.21135 0 9.60365", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-19.61025 0 19.1077", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-31.19624 0 4.70073", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-29.09739 0 8.98675", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-47.69098 0 16.8508", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-39.1107 0 33.13037", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-49.78458 0 14.80063", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-40.80085 0 6.84634", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-28.08524 0 13.55667", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-47.57372 0 -0.35069", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-53.32775 0 20.67103", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-52.48488 0 -6.6701", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-38.61913 0 7.49513", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_2", scale="1 1 1", position="-19.97254 0 10.2853", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-33.25671 0 2.27865", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-23.30199 0 22.49549", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-44.04603 0 40.00395", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-50.51857 0 31.21127", rotation="0 0 0")
a-entity(collada-model="#world_1_brush_1", scale="1 1 1", position="-50.85391 0 11.06407", rotation="0 0 0")

//- Trees

a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-41.88895 0 26.72001", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-49.51316 0 10.94265", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-22.10299 0 31.85753", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-51.67822 0 20.62128", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-29.95367 0 49.9911", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-43.43883 0 42.48992", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-58.0817 0 6.6457", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-24.62042 0 -0.21972", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-28.41718 0 9.22921", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-50.16365 0 5.10223", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-49.59584 0 39.44", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-51.77584 0 0.23899", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-44.57203 0 24.72744", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-27.05154 0 57.80842", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-19.68092 0 -0.84517", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-52.20919 0 0.59442", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-40.01794 0 28.54217", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-28.0414 0 19.09391", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-48.09655 0 25.49487", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-38.80899 0 48.54423", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-44.33108 0 36.66281", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-62.26326 0 -6.47567", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-32.24442 0 28.98874", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-48.14038 0 3.55822", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-25.36921 0 37.79472", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-51.70057 0 14.07248", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-39.5668 0 26.97456", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-38.76364 0 26.89504", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-53.45421 0 29.75025", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.25493 0 33.72347", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-50.74266 0 -0.95839", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-35.06401 0 28.51815", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-51.64724 0 8.3574", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-23.66103 0 35.53148", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-24.02382 0 23.81871", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-55.89421 0 22.43118", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-53.61138 0 13.3582", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-21.7669 0 16.01365", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-63.86514 0 -3.46557", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-31.93633 0 26.84673", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-51.1031 0 36.18121", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-53.8699 0 31.62391", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-60.50555 0 19.57743", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-28.38355 0 42.96762", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-26.03465 0 6.1322", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-32.46039 0 54.0433", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-28.59584 0 52.5918", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-54.45033 0 23.00636", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-39.56201 0 17.32227", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-21.44237 0 15.80306", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-24.31942 0 6.93095", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-20.40098 0 12.45975", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-41.31765 0 34.02107", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-44.2175 0 34.72906", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-59.29451 0 2.60605", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-51.86563 0 8.14792", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-23.51642 0 45.04416", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-52.05451 0 34.26197", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-62.02328 0 0.31998", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-30.12 0 1.17645", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-40.79388 0 6.21575", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-40.04887 0 18.82582", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-48.23467 0 22.97832", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-38.39278 0 18.31355", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-49.7305 0 16.95669", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-30.13705 0 47.93937", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-60.41367 0 6.07974", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-41.56046 0 12.97069", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.94976 0 26.4489", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-53.16708 0 13.45693", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-22.93429 0 33.06287", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-47.55919 0 19.45664", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-55.98286 0 -7.01656", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-28.70637 0 55.92437", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-44.39469 0 17.17916", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-63.21349 0 9.29504", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.93244 0 24.71414", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-41.33246 0 20.32301", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-23.21653 0 49.12", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-49.27478 0 34.5894", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-42.75437 0 36.69932", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-46.72279 0 15.98762", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-45.00228 0 26.61424", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.27915 0 5.94639", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-46.9603 0 10.38992", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-31.55162 0 45.9146", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-51.80789 0 -9.23324", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-51.32971 0 29.00445", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.05025 0 9.75307", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-24.05736 0 33.34591", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-53.74547 0 6.45798", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-42.48483 0 12.93308", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-39.44025 0 7.05854", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.92086 0 3.15056", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-23.79519 0 19.24816", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-40.63648 0 6.54071", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-36.99966 0 21.85254", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-42.69462 0 6.15887", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-48.72579 0 21.46161", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-58.79643 0 17.41138", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-52.82689 0 -2.97765", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-36.24214 0 45.75776", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-36.90061 0 20.38303", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-63.86869 0 0.59598", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-20.54574 0 10.42729", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-34.21194 0 1.89188", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-26.22002 0 34.66067", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-25.05232 0 57.56861", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_2", scale="1 1 1", position="-19.80062 0 8.67503", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-47.63732 0 20.62406", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-29.40219 0 14.47803", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_3", scale="1 1 1", position="-59.24885 0 3.82964", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-23.40788 0 38.65201", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-22.08077 0 48.78992", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-38.4792 0 29.0758", rotation="0 0 0")
a-entity(collada-model="#world_1_tree_1", scale="1 1 1", position="-38.21877 0 5.02921", rotation="0 0 0")
