//- Stones

a-entity(collada-model="#stone_1", scale="1 1 1", position="-35.33218 0 -28.96449", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-33.84529 0 -35.66911", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-9.42961 0 -25.50353", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-19.53397 0 -17.53984", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-49.11633 0 -17.24743", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-53.47977 0 -19.29454", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-23.263 0 -18.91152", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-34.12 0 -23.22115", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-1.20417 0 -48.5343", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-28.89106 0 -3.82286", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-18.41034 0 -58.11759", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-47.03877 0 -43.22132", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-11.81392 0 -55.3602", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-27.24009 0 -20.22581", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-2.50854 0 -20.72208", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="3.13805 0 -51.73629", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-30.87134 0 -8.50093", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-26.63648 0 -43.7588", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-3.46777 0 -56.1669", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-18.73549 0 -16.27976", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-46.57182 0 -35.73399", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-21.09324 0 -31.36162", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-31.39378 0 -51.14331", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-42.56789 0 -28.45751", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-43.89966 0 -26.92648", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-43.38168 0 -31.86514", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-14.78515 0 -43.8304", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-29.91582 0 -50.39172", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-31.66749 0 -40.80103", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-53.31913 0 -22.68449", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-23.02165 0 -55.83376", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-23.46314 0 -47.93062", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-14.70866 0 -27.34932", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-55.42883 0 -23.00309", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="2.75614 0 -52.97396", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-55.74702 0 -24.02809", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-32.921 0 -52.25826", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-33.00528 0 -9.92655", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-23.78786 0 -23.142490", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-16.41885 0 -23.04613", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-2.00297 0 -46.93722", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-25.19713 0 -16.84557", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-57.98095 0 -13.613", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-26.30853 0 -3.8872", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="0.57488 0 -53.72032", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-13.72882 0 -43.48832", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-7.79932 0 -44.61075", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-8.81361 0 -46.455", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-47.13879 0 -12.13954", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-21.85633 0 -5.72844", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-11.04921 0 -54.6855", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-6.2377 0 -21.55919", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-35.66121 0 -16.30524", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-9.04044 0 -54.89542", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-16.01969 0 -39.41148", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-46.55619 0 -42.36797", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-45.49121 0 -4.58976", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-5.24689 0 -32.59087", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-14.78803 0 -54.516", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-28.66665 0 -7.06035", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-17.30033 0 -24.09557", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-15.0042 0 -57.66752", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-7.4195 0 -34.85203", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="-30.49641 0 -45.30418", rotation="0 0 0")
a-entity(collada-model="#stone_1", scale="1 1 1", position="2.50951 0 -51.93258", rotation="0 0 0")

//- Grass

a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-45.21693 0 -43.04027", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-19.24453 0 -11.38099", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-17.62835 0 -55.48991", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-44.0471 0 -33.0713", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-7.02373 0 -43.17701", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-35.16692 0 -10.45805", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-27.74519 0 -14.02018", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-7.72039 0 -42.51115", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-22.20827 0 -20.54872", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-17.16777 0 -44.22509", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-28.81881 0 -1.92355", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-50.64363 0 -14.57249", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-37.70258 0 -34.83031", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-55.28421 0 -16.27463", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-41.67034 0 -33.45884", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-56.0019 0 -18.94301", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-45.13135 0 -22.53745", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-19.5178 0 -38.06238", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-25.10009 0 -34.02279", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-20.45081 0 -27.59571", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-23.9237 0 -59.10048", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-16.00937 0 -60.8698", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-4.97441 0 -59.76959", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-21.75791 0 -26.24776", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-28.70843 0 -23.23417", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-7.39332 0 -32.91287", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-41.74524 0 -26.15214", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-17.48489 0 -57.50615", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-31.81251 0 -2.12639", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-9.18456 0 -21.96733", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-27.44441 0 -13.37802", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-19.04549 0 -59.74451", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-36.43579 0 -43.78189", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-52.0596 0 -27.20063", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-45.70198 0 -39.88416", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-14.60069 0 -47.10424", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-19.07906 0 -24.70136", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-2.41784 0 -41.28664", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-24.69543 0 -55.95967", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-43.57879 0 -19.00164", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="0.83796 0 -49.15941", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-46.61959 0 -29.75995", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-48.33486 0 -5.19775", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-52.16928 0 -16.1597", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-47.21239 0 -21.92716", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-59.76183 0 -18.96572", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-30.45531 0 -31.27662", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-39.4954 0 -3.94695", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-45.81592 0 -30.30317", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-20.63762 0 -57.63911", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-52.46496 0 -14.7009", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-48.00367 0 -12.64908", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-50.37375 0 -25.40635", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-31.71858 0 -9.72119", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="1.63625 0 -47.20379", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-27.82319 0 -17.62271", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-43.3229 0 -24.50379", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-54.45786 0 -25.91791", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-36.51465 0 -40.75918", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-43.37625 0 -43.10132", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-30.82143 0 -36.5957", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-21.69198 0 -14.91235", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-13.0628 0 -47.29111", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-22.37733 0 -43.46926", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-14.58288 0 -35.1982", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-36.54215 0 -20.10494", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-36.54015 0 -39.62693", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-25.10433 0 -36.36613", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-56.41002 0 -24.338", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-3.68378 0 -46.8843", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-59.8763 0 -11.03582", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-37.92155 0 -30.71917", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-25.45476 0 -17.40208", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-10.49012 0 -50.30428", rotation="0 0 0")
a-entity(collada-model="#world_2_grass_1", scale="1 1 1", position="-30.98572 0 -9.03125", rotation="0 0 0")

//- Brushes
//- solo brush_2!

a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-11.19781 0 -50.66907", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-27.83632 0 -41.44423", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-41.37436 0 -19.97924", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-26.59494 0 -9.89322", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-4.86227 0 -30.5022", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-44.28879 0 -10.57902", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-13.79107 0 -50.80604", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-43.66779 0 -35.36646", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-55.53122 0 -17.43611", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-51.72142 0 -35.11843", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-3.88849 0 -61.56124", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-8.41546 0 -34.2645", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-30.46973 0 -28.87214", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-34.35285 0 -27.63443", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-16.35325 0 -58.27279", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-23.90939 0 -50.15463", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-18.1969 0 -56.74289", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-2.17335 0 -44.4743", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-20.84311 0 -50.65948", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-17.7771 0 -40.36798", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-47.276 0 -9.07193", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-29.46728 0 -40.30908", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-57.87039 0 -12.54519", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-29.89889 0 -37.34515", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-3.419 0 -21.66435", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-32.1327 0 -37.27572", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-45.51765 0 -30.02209", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-35.83752 0 -15.32514", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-20.62261 0 -14.6512", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="0.13707 0 -54.53649", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="3.74217 0 -53.09761", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-39.54095 0 -36.70294", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-11.26239 0 -56.04725", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-52.31376 0 -22.93238", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-54.93918 0 -29.69422", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-61.90259 0 -12.07206", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-26.16155 0 -13.39522", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-38.56439 0 -23.97026", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-1.48092 0 -47.00039", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-51.50649 0 -21.25038", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-23.79259 0 -57.31112", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-11.25725 0 -44.72004", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-49.99647 0 -34.7655", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-15.29377 0 -46.5981", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-30.83394 0 -2.69924", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-17.21065 0 -9.51126", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-58.69565 0 -14.05133", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-0.59467 0 -46.0275", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-48.59471 0 -41.11692", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-28.32397 0 -50.42467", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-17.51361 0 -9.72196", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-27.60113 0 -16.07915", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-35.55605 0 -22.82373", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-42.98113 0 -7.39432", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-37.98635 0 -31.61223", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-52.15463 0 -19.12767", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-17.35736 0 -60.2194", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-14.75752 0 -29.80585", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-37.98696 0 -21.51665", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-38.22604 0 -43.85921", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-38.39277 0 -18.252", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-42.83228 0 -25.22159", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-14.37481 0 -18.90626", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-48.54781 0 -31.36382", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-36.68057 0 -43.01509", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-20.31988 0 -45.19398", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-12.53906 0 -58.2585", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-35.64167 0 -25.62618", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-34.64255 0 -20.18664", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-17.27149 0 -31.35116", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-19.20376 0 -11.18093", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-33.24929 0 -28.93892", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-40.17807 0 -38.59751", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-30.87875 0 -56.03726", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-9.88159 0 -18.55211", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-43.03994 0 -8.87213", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-12.969 0 -39.96009", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-47.33601 0 -7.96661", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-37.57895 0 -14.84664", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-26.07165 0 -57.54272", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-30.3775 0 -11.29774", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-20.39804 0 -31.55118", rotation="0 0 0")
a-entity(collada-model="#world_2_brush_2", scale="1 1 1", position="-6.12268 0 -32.63069", rotation="0 0 0")

//- Trees

a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-57.32378 0 -23.37233", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-39.42511 0 -24.38326", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-26.44168 0 -5.29005", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.11012 0 -41.86356", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-16.7552 0 -48.93231", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.72278 0 -26.36732", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-48.97462 0 -34.83831", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-38.63449 0 -5.80664", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-30.84128 0 -45.77803", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-41.21287 0 -47.51186", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-44.98854 0 -25.29025", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-35.40393 0 -43.63087", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-22.9969 0 -12.81202", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-52.08534 0 -31.58113", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-16.08583 0 -48.22028", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-56.17499 0 -18.54143", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-11.11456 0 -28.16538", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-19.38747 0 -32.34078", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-15.90858 0 -54.64996", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-35.47672 0 -21.51006", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-3.61098 0 -43.04566", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-40.36901 0 -15.31904", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.856 0 -29.50113", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-19.05273 0 -28.17991", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-25.45283 0 -20.00489", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-3.72023 0 -47.77906", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-44.34032 0 -15.73339", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.2574 0 -27.4319", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-17.1792 0 -40.98924", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-22.48657 0 -3.44873", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-40.67029 0 -44.15941", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-4.33631 0 -33.9497", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-10.86556 0 -24.1245", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-26.75025 0 -34.05607", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-3.21176 0 -19.67789", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-47.0593 0 -33.27386", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-32.70909 0 -10.96009", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-28.98459 0 -17.28968", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-46.70931 0 -41.75293", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-18.6515 0 -47.97601", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-22.80842 0 -13.39749", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-26.91178 0 -55.49935", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-34.68669 0 -35.86339", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-15.31604 0 -18.61743", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-27.94798 0 -2.83526", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-15.41178 0 -43.98086", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-53.97202 0 -25.947", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-1.62834 0 -60.72348", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="0.87206 0 -63.42592", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-21.03603 0 -40.54189", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-54.19017 0 -13.37443", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-34.4926 0 -40.91526", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-2.81128 0 -20.02134", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-2.0435 0 -49.75238", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-2.43892 0 -44.403", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-29.73385 0 -32.34177", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-48.17278 0 -5.25534", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-42.60523 0 -44.61243", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-17.82976 0 -56.47818", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-35.00373 0 -37.378", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-4.79348 0 -52.07668", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-7.01976 0 -55.50331", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-41.48343 0 -48.25246", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-42.918 0 -38.16195", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-36.30405 0 -38.79747", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-49.50508 0 -37.73455", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-42.94487 0 -45.73529", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-25.33168 0 -38.15751", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-33.64825 0 -49.69247", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-22.03448 0 -50.5321", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-42.85014 0 -46.06718", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-29.53788 0 -5.54164", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-17.3065 0 -15.64772", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-44.41578 0 -35.35205", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-39.42706 0 -3.21415", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-35.90283 0 -30.28788", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.97084 0 -53.93395", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-7.20583 0 -44.49984", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-19.24535 0 -26.00741", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-13.74353 0 -48.83009", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-20.35203 0 -21.21642", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-12.1426 0 -52.11131", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-53.86462 0 -10.64052", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-11.15789 0 -47.67947", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-19.11443 0 -31.20326", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-38.81747 0 -22.41037", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-41.4779 0 -33.68147", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-28.356 0 -30.90598", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-5.85751 0 -25.15429", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-47.54908 0 -28.47772", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_2", scale="1 1 1", position="-20.20059 0 -31.69201", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-55.42009 0 -12.93884", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.92004 0 -28.86213", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-1.7572 0 -61.1961", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-47.57268 0 -18.55691", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-54.08986 0 -12.45666", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-12.31858 0 -31.40492", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-22.60788 0 -17.17609", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-26.40018 0 -13.08074", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-45.29282 0 -36.58894", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-41.7308 0 -33.0705", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-26.85843 0 -45.23509", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-14.24702 0 -61.50124", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-36.50116 0 -35.82269", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-52.47293 0 -22.48464", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-27.01235 0 -16.03145", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-31.65877 0 -3.83335", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-8.57449 0 -54.71641", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-45.7537 0 -5.45588", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-7.84113 0 -34.63737", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-41.69818 0 -36.682", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-51.74026 0 -24.62741", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-6.01086 0 -55.40601", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-43.68026 0 -44.72326", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-36.67601 0 -38.1417", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-50.97902 0 -23.95615", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-49.0518 0 -29.95968", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-19.72899 0 -41.94939", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-10.92016 0 -43.98598", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-9.71507 0 -59.31672", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-24.49627 0 -17.3555", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-12.41558 0 -60.37497", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-31.04458 0 -55.0726", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-35.95051 0 -18.38667", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-17.85028 0 -17.02724", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-40.79393 0 -3.09769", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-29.47604 0 -31.17604", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-30.08502 0 -35.31972", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-27.97473 0 -48.51823", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-56.33733 0 -26.33777", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-37.78266 0 -37.39719", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-54.7729 0 -17.95447", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-54.21497 0 -21.75973", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-13.74038 0 -44.66558", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_3", scale="1 1 1", position="-10.22549 0 -46.01418", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-25.42743 0 -36.51895", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-36.03886 0 -37.54493", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-57.38366 0 -15.58651", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-31.44352 0 -41.4966", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-33.04292 0 -42.03247", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-2.1701 0 -42.63005", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-18.93153 0 -21.89117", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-14.95171 0 -44.83134", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-39.39849 0 -23.46672", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-15.39792 0 -29.75103", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-56.25535 0 -10.98086", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-22.34605 0 -37.98709", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-29.27859 0 -32.77456", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-34.45728 0 -26.79138", rotation="0 0 0")
a-entity(collada-model="#world_2_tree_1", scale="1 1 1", position="-23.50947 0 -43.45403", rotation="0 0 0")
