include _vars.jade
doctype html
html
  include _head.jade
  body
    include icons/tmp/icons.svg
    //- include _loader.jade
    include _header.jade
    include _nav.jade
    include _aside.jade
    include scene/_scene.jade
